.editor {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    .option {
        margin-right: 1rem;

        .active {
            background-color: #0070f3;
            color: white;
        }
    }
}

.workarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    .textarea {
        width: 100%;
        height: 100%;
        textarea {
            min-width: 600px;
            min-height: 400px;
        }
    }
    .optimizations {
        width: 100%;
        height: 100%;
        background-color: #f0f0f0;
    }
}
